@fontColor: rgb(230, 230, 230);
@accentColor: #0EF;

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  box-shadow: 0 0 50px @accentColor;
  border-radius: 20px;
  padding: 40px;

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h2 {
      font-size: 30px;
      color: @fontColor;
      text-align: center;
    }

    .input-group {
      position: relative;
      margin: 30px 0;
      border-bottom: 2px solid @fontColor;

      label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: @fontColor;
        pointer-events: none;
        transition: 250ms;
        opacity: 100%;
      }

      input {
        width: 320px;
        height: 40px;
        font-size: 16px;
        color: @fontColor;
        padding: 0 5px;
        background: transparent;
        border: none;
        outline: none;

        &:focus~label,
        &:valid~label {
          top: -5px;
          opacity: 0;
        }
      }
    }

    .remember {
      margin: -5px 0 15px 5px;

      label {
        color: @fontColor;
        font-size: 14px;

        input {
          accent-color: @accentColor;
        }
      }
    }

    button {
      position: relative;
      width: 100%;
      height: 40px;
      background-color: @accentColor;
      box-shadow: 0 0 10px @accentColor;
      font-size: 16px;
      color: black;
      font-weight: bold;
      cursor: pointer;
      border-radius: 30px;
      border: none;
      outline: none;
    }

    .signup-link {
      font-size: 14px;
      text-align: center;
      margin: 15px 0;

      p {
        color: @fontColor;

        a {
          color: @accentColor;
          text-decoration: none;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }


  }
}